.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 6px;
  }

  .register-container {
    background-image: url("https://e0.pxfuel.com/wallpapers/619/537/desktop-wallpaper-teal-and-white-dog-paw-prints-puppy-bone-and-hearts-tile-pattern-paw-print-background-dog-paw-print-paw-print-thumbnail.jpg");
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 6px;
  }
  
  input[type="text"],
  input[type="email"], 
  input[type="password"], 
  button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

  