.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  background-image: url("https://e0.pxfuel.com/wallpapers/619/537/desktop-wallpaper-teal-and-white-dog-paw-prints-puppy-bone-and-hearts-tile-pattern-paw-print-background-dog-paw-print-paw-print-thumbnail.jpg");
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.9);
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: px;
}

input[type="text"] {
  width: 300px;
  padding: 5px;
  margin: 10px 0;
}

input[type="text"],
input[type="email"], 
input[type="password"],
input[type="file"], 
button {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

p {
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
}

p a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.2s;
}

p a:hover {
  color: #0056b3;
}
